<!doctype html>
{% extends 'attend/base.html' %} 
{% load staticfiles %}
{% load static %}
<html lang="ko">
{% block content %}
<head>

<!--<meta http-equiv="refresh" content="10; url=http://bicsu.pythonanywhere.com/attendance/" />-->

      <!-- header-area start -->
    <div id="sticker" class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <!-- Navigation -->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
                <!-- Brand -->
                <a class="navbar-brand page-scroll sticky-logo" href="http://bicsu.pythonanywhere.com">
                  <h1><span>Po</span>Check</h1>
                  <!-- Uncomment below if you prefer to use an image logo -->
								</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active">
                    <a class="page-scroll" href="http://bicsu.pythonanywhere.com"><b>Home</b></a>
                  </li>
                  <li>
                    <a class="page-scroll" href="http://bicsu.pythonanywhere.com#team"><b>Team</b></a>
                  </li>
                  <li>
                    <a class="page-scroll" href="attendance"><b>Attendance</b></a>
                  </li>
                </ul>
              </div>
              <!-- navbar-collapse -->
            </nav>
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->
</head>


  <!-- Start About area -->
  <br><br><br><br><br><br><br>
  
  <!--<div id="about" class="about-area area-padding">-->
    <div class="container">
      <div class="row centered-form">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>출결 현황</h2>
            <div class='right-box'><a class="sus-btn" href="http://pocheck-bicsu.c9users.io:8080/attend_list">출석 log</a></div>
            
         
            <!--<div class="row">-->
            <div class='row'>
                {% for check in checks %}
                  <div class="col-md-2 col-sm-2 ">
                    <div class="single-team-member">
                      <div class="team-img">
                        {% if check.pic == '1' %}
                            <a href="#"><img src="../../static/img/people/{{check.name}}.jpg" style="width:300px;height:218px;"></a>
                        {% else %}
                            <a href="#"><img src="../../static/img/people/default.jpg" style="width:300px;height:218px;"></a>
                        {% endif %}
                      <div class="team-social-icon text-center"></div>
                      </div>
                    {% if check.checking == 1 %}
                        <div class="team-content text-center" style="background-color:#26F40A;"><h7 style="font-weight:bold">{{check.name}}</h7></div>
                    {% else %}
                        <div class="team-content text-center" style="background-color:#C96363;"><h7 style="font-weight:bold">{{check.name}}</h7></div>
                    {% endif %}
                      </div>
                    </div>
                {% endfor %}
            </div>
                

        </div>
      </div>
    </div>
  </div>
<!--</div>-->
  <!-- Start team Area -->

</body>
<br><br><br><br><br><br>
{% endblock %}
</html>