<!doctype html>
{% extends 'attend/base.html' %} 
{% load staticfiles %}
{% load static %}
<html lang="en">
<head>
  
</head>
{% block content %}

  <!-- Start About area -->
  <br><br><br><br><br><br><br>
  
  <!--<div id="about" class="about-area area-padding">-->
    <div class="container">
      <div class="row centered-form">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>출결 현황</h2>   
            
            
            <!--<div class="row">-->
            <div class='row'>
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/default.jpg"></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>고언호</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/kwansu.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7 id="김관수">김관수</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/default.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>김남원</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/default.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>김민수</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/default.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>박지현</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/hyunsung.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>배현성</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/default.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>안대현</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/default.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>오지은</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/seoho.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>이서호</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/default.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>이용하</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/default.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>이유경</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/jehwan.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>이제환</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/hannim.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>이한님</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/default.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>임현진</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/default.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>장영인</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/default.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>장준규</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/jihoon.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>전지훈</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/default.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>정상윤</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/default.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>정종태</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/default.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>정해준</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/default.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>종훈선</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/default.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>진주혁</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/default.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>최진호</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/default.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>한지영</h7>
                  </div>
                </div>
              </div>
              
              <div class="col-md-2 col-sm-2 ">
                <div class="single-team-member">
                  <div class="team-img">
                    <a href="#"><img src="../../static/img/people/default.jpg" alt=""></a>
                    <div class="team-social-icon text-center"></div>
                  </div>
                  <div class="team-content text-center">
                  <h7>황정민</h7>
                  </div>
                </div>
              </div>
            </div>
          
          
        </div>
      </div>
    </div>
  </div>
<!--</div>-->
      
  <!-- Start team Area -->
         
          
          
          
         

</body>

{% endblock %}
</html>