{% extends 'attend/base.html' %}
{% load staticfiles %}
{% block content %}
<h2>B반 출석부</h2>

    <ol>
      <li>김관수</li>
      <li>배현성</li>
      <li>이서호</li>
      <li>이제환</li>
      <li>이한님</li>
      <li>전지훈</li>
    </ol> 
<div id="bigBox"></div>
<div id="multiBoxes">
    <div class="colorPickBox" style="background-color:blue;">하이루</div>
    <div class="colorPickBox" style="background-color:red;"></div>
    <div class="colorPickBox" style="background-color:yellow;"></div>
    <div class="colorPickBox" style="background-color:green;"></div>
    <div class="colorPickBox" style="background-color:brown;"></div>
    <div class="colorPickBox" style="background-color:violet;"></div>
    <div class="colorPickBox" style="background-color:magenta;"></div>
    <div class="colorPickBox" style="background-color:black;"></div>
    <div class="colorPickBox" style="background-color:gray;"></div>
    <div class="colorPickBox" style="background-color:white;"></div>
</div>

<!--<section id="services">-->
<!--            <div class="container">-->
<!--                <h2>출석 현황</h2>-->
                
<!--                <div class="row">-->
<!--                    <div class="col-md-4">-->
<!--                        <div class="service_item">-->
<!--                            <img src="{% static 'images/kwansu.jpg' %}" alt="" />-->
<!--                            </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-4">-->
<!--                        <div class="service_item">-->
<!--                            <img src="{% static 'images/korea.jpg' %}" alt=" " />-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-4">-->
<!--                        <div class="service_item">-->
<!--                            <img src="{% static 'images/ys.jpg' %}" alt=" " />-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section><!-- Services end -->-->
        
        

<!--<ul>-->
<!--    {% for university in university_list %}-->
<!--    <li>-->

<!--        <a href="{% url 'universities:detail' pk=university.pk %}"> {{ university.uni_id }} </a>-->
<!--    </li>-->
<!--    {% endfor %}-->


<!--</ul>-->

{% endblock %}