<!DOCTYPE html>

{% extends 'attend/base.html' %}

{% block content %}


<html>
<head>
<title>Merciano | Pages | Basic Grid</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../../static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<style type="text/css"> 
/* DEMO ONLY */
.container .demo{text-align:center;}
.container .demo div{padding:8px 0;}
/*.container .demo div:nth-child(odd){color:#FFFFFF; background:#CCCCCC;}*/
.container .demo div:nth-child(odd){color:#000000; background:#33FF3C; font-size: 25px;}
.container .demo div:nth-child(even){color:#000000; background:#FF0000; font-size: 25px;}
@media screen and (max-width:900px){.container .demo div{margin-bottom:0;}}
/* DEMO ONLY */
</style>
</head>
    
    
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      <h2>출석!!!!!!!!!!!!!!!!!!!!!!!!!!</h2>
      <!-- ################################################################################################ -->
      <div class="group btmspace-50 demo">
        <div class="one_quarter first">고언호</div>
        <div class="one_quarter">김관수</div>
        <div class="one_quarter">김남원</div>
        <div class="one_quarter">김민수</div>
      </div>
      <div class="group btmspace-50 demo">
        <div class="one_quarter first">박지현</div>
        <div class="one_quarter">배현성</div>
        <div class="one_quarter">안대현</div>
        <div class="one_quarter">오지은</div>
      </div>
      <div class="group btmspace-50 demo">
        <div class="one_quarter first">이서호</div>
        <div class="one_quarter">이용하</div>
        <div class="one_quarter">이유경</div>
        <div class="one_quarter">이제환</div>
      </div>
      <div class="group btmspace-50 demo">
        <div class="one_quarter first">이한님</div>
        <div class="one_quarter">임현진</div>
        <div class="one_quarter">장영인</div>
        <div class="one_quarter">장준규</div>
      </div>
      <div class="group btmspace-50 demo">
        <div class="one_quarter first">전지훈</div>
        <div class="one_quarter">정상윤</div>
        <div class="one_quarter">정종태</div>
        <div class="one_quarter">정해준</div>
      </div>
      <div class="group btmspace-50 demo">
        <div class="one_quarter first">종훈선</div>
        <div class="one_quarter">진주혁</div>
        <div class="one_quarter">최진호</div>
        <div class="one_quarter">한지영</div>
      </div>
      <div class="group btmspace-50 demo">
        <div class="one_quarter first">황정민</div>
        <!--<div class="one_quarter"> </div>-->
        <!--<div class="one_quarter"> </div>-->
        <!--<div class="one_quarter"> </div>-->
      </div>      
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
    
</html>
{% endblock %}